{% extends 'base.html' %}
{% block content %}

	<a href="#" class="bigrek"></a>
	<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>
		
		<ol class="breadcrumb">
			<li><a href="{% url 'home'%}">Home</a></li>
		</ol>
		<div class="row">
			<div class="col-md-8 col-xs-12">
				{% if len == 0 %}
					<div class="cat_title">"{{ key }}" oid malumot topilmadi </div>
				{% else %}
					<div class="cat_title">"{{ key }}" oid {{ len }} ta ma`lumot topildi </div>
				{% endif %}
				<div class="search_box">
					<form action="#">
						<div class="input-group">
							<input type="text" name="s" placeholder="Поиск">
							<button class="btn submit"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</div>
				<div class="news_box">
					{% for i in news %}
						<div class="cat_news">
							<div class="cat_img"><img src="{{ i.img.url }}" alt=""></div>
							<a href="{% url 'view' pk=i.id %}">{{ i.titel }}</a>
							<p>{{ i.short_desc }}</p>
							<span class="date">{{ i.date.date }}</span>
							<span class="news_type"><i class="fa fa-pencil"></i> {{ i.ctg }}</span>
						</div>
					{% endfor %}

				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="head_title">Свежие новости</div>
				<div id="listnews" class="carousel slide listnews" data-ride="carousel">
					<div class="news_box">
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<ul class="list_news">
									{% for i in fresh %}
										{% if forloop.counter <= 5 %}
											<li>
												<div class="list_img"><img src="{{ i.img.url }}" alt=""></div>
												<a href="{% url 'view' pk=i.id %}">{{ i.titel }}</a>
												<span class="date">{{ i.date.date }}</span>
												<span class="news_type"><i class="fa fa-pencil"></i> {{ i.ctg }}</span>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="foot_about">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12"><img src="img/logo.png" alt="" class="logo"></div>
				<div class="col-md-6 col-xs-12">
					<div class="title">О нас</div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
				</div>
				<div class="col-md-3 col-xs-12 text-right">
					<ul class="social">
						<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#"><span class="fa fa-telegram"></span></a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}